@using BlazorEcommerceFullStack.Shared.Models;
<h3>AnimeList</h3>

@code {
    private static List<Anime> anime = new List<Anime>{
        new Anime{
            Id=1,
            Name="Kimetsu No Yaiba",
            Genre="Drama",
            Rating=9,
            ImageUrl="https://pics.filmaffinity.com/Demon_Slayer_Kimetsu_no_Yaiba_TV_Series-565420400-large.jpg"

        },
         new Anime{
            Id=2,
            Name="Naruto",
            Genre="Action,Comedy",
            Rating=8,
            ImageUrl="https://pics.filmaffinity.com/Demon_Slayer_Kimetsu_no_Yaiba_TV_Series-565420400-large.jpg"


        },
         new Anime{
            Id=3,
            Name="Kimetsu No Yaiba",
            Genre="Drama",
            Rating=9,
            ImageUrl="https://pics.filmaffinity.com/Demon_Slayer_Kimetsu_no_Yaiba_TV_Series-565420400-large.jpg"


        }

    };
}
